<main class="container">
  <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 20px;">
    <hgroup style="margin-bottom: 0;">
      <h1>New York Entities</h1>
      <p>Select a local government to view financial performance and documents.</p>
    </hgroup>
    
    <div>
      <%= link_to "New Entity", new_entity_path, role: "button" %>
    </div>
  </div>

  <figure>
    <table role="grid">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Type</th>
          <th scope="col">State</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @entities.each do |entity| %>
          <tr>
            <td><%= entity.name %></td>
            <td><%= entity.kind.capitalize %></td>
            <td><%= entity.state %></td>
            <td>
              <%= link_to "View Hub", entity_path(entity.slug), role: "button", class: "outline" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </figure>
</main>