<%= form_with(model: metric) do |form| %>
  <% if metric.errors.any? %>
    <article class="flash flash--alert">
      <header><%= pluralize(metric.errors.count, "error") %> prohibited this metric from being saved:</header>
      <ul>
        <% metric.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </article>
  <% end %>

  <div>
    <%= form.label :label, style: "display: block" %>
    <%= form.text_field :label %>
  </div>

  <div>
    <%= form.label :key, style: "display: block" %>
    <%= form.text_field :key %>
    <small>Must be unique (e.g. <code>total_revenue</code>)</small>
  </div>

  <div>
    <%= form.label :unit, style: "display: block" %>
    <%= form.text_field :unit %>
  </div>

  <div>
    <%= form.label :value_type, style: "display: block" %>
    <%= form.select :value_type, Metric.value_types.keys.map { |k| [k.humanize, k] } %>
  </div>

  <div>
    <%= form.label :display_format, style: "display: block" %>
    <%= form.select :display_format,
        [["", ""]] + Metric::VALID_DISPLAY_FORMATS.map { |f| [f.humanize, f] },
        {},
        { id: "metric_display_format" } %>
    <small>Required for numeric metrics</small>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description %>
  </div>

  <hr>

  <h3>Data Source</h3>

  <div>
    <%= form.label :data_source, style: "display: block" %>
    <%= form.select :data_source, Metric.data_sources.keys.map { |s| [s.humanize, s] } %>
  </div>

  <div>
    <%= form.label :account_code, style: "display: block" %>
    <%= form.text_field :account_code, placeholder: "e.g., A31201" %>
    <small>OSC account code format (no dots)</small>
  </div>

  <br>

  <div>
    <%= form.submit %>
  </div>
<% end %>