<main class="container">
  <div class="page-header page-header--center">
    <h1>Metrics</h1>
    <% if user_signed_in? %>
      <div><%= link_to "New Metric", new_metric_path, role: "button" %></div>
    <% end %>
  </div>

  <form method="get" action="<%= metrics_path %>">
    <%= hidden_field_tag :sort, params[:sort] if params[:sort].present? %>
    <%= hidden_field_tag :direction, params[:direction] if params[:direction].present? %>

    <fieldset>
      <legend>Filters</legend>
      <div class="grid">
        <label>
          Value Type
          <%= select_tag :value_type,
                options_for_select(Metric.value_types.keys.map { |t| [t.humanize, t] }, params[:value_type]),
                prompt: "All Types" %>
        </label>

        <div class="button-group">
          <%= link_to "Clear", metrics_path, role: "button", class: "secondary outline" %>
          <%= submit_tag "Apply", name: nil %>
        </div>
      </div>
    </fieldset>
  </form>

  <figure>
    <table role="grid">
      <thead>
        <tr>
          <th scope="col">
            <%= sortable_column_header(
                  column: "label",
                  label: "Label",
                  path: :metrics_path,
                  current_sort: params[:sort],
                  current_direction: params[:direction]
                ) %>
          </th>
          <th scope="col">
            <%= sortable_column_header(
                  column: "value_type",
                  label: "Type",
                  path: :metrics_path,
                  current_sort: params[:sort],
                  current_direction: params[:direction]
                ) %>
          </th>
          <th scope="col">Unit</th>
          <th scope="col">Description</th>
        </tr>
      </thead>
      <tbody>
        <% @metrics.each do |metric| %>
          <tr>
            <td>
              <%= link_to metric.label, metric_path(metric) %>
            </td>
            <td><%= metric.value_type.humanize %></td>
            <td><%= metric.unit %></td>
            <td><%= metric.description %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </figure>

  <% if @pagy.pages > 1 %>
    <section>
      <%== @pagy.info_tag %>
      <%== @pagy.series_nav(aria_label: "Metric pages") %>
    </section>
  <% end %>
</main>
