<main class="container">

  <div style="display: flex; justify-content: space-between; align-items: flex-start;">
    <hgroup>
      <h1><%= @metric.label %></h1>
    </hgroup>
    <% if user_signed_in? %>
      <div>
        <%= link_to "Edit", edit_metric_path(@metric), role: "button", class: "secondary outline" %>
      </div>
    <% end %>
  </div>

  <article>
    <header>
      <strong>Metric Details</strong>
    </header>
    
    <p>
      <%= @metric.description %>
    </p>

    <div class="grid">
      <div>
        <strong>Unit:</strong> <%= @metric.unit %>
      </div>
      <div>
        <strong>Code:</strong> <%= @metric.key %>
      </div>
    </div>
  </article>

  <div>
    <%= link_to "Back to Metrics", metrics_path, role: "button", class: "secondary" %>
  </div>
</main>