<header class="container">
  <nav>
    <ul>
      <li>
        <strong><%= link_to "NY Benchmark", root_path, class: "contrast" %></strong>
      </li>
    </ul>
    <ul>
      <li><%= link_to "Entities", entities_path, class: "secondary" %></li>
      <li><%= link_to "Documents", documents_path, class: "secondary" %></li>
      <li><%= link_to "Metrics", metrics_path, class: "secondary" %></li>
      <li><%= link_to "Observations", observations_path, class: "secondary" %></li>

    <% if user_signed_in? %>
      <li><span class="secondary"><%= current_user.email %></span></li>
      <li>
        <%= button_to "Sign out",
                      destroy_user_session_path,
                      method: :delete,
                      class: "secondary",
                      form: { data: { turbo: false } } %>
      </li>
    <% else %>
      <li><%= link_to "Sign in", new_user_session_path, class: "secondary", data: { turbo: false } %></li>
      <li><%= link_to "Sign up", new_user_registration_path, class: "secondary", data: { turbo: false } %></li>
    <% end %>
    </ul>
  </nav>
</header>