<!DOCTYPE html>
<html>
  <head>
    <%= render "shared/head" %>
  </head>

  <body class="overflow-auto">
    <%= render "shared/navbar" %>

    <main class="container">
      <%= render "shared/flash" %>
      <%= yield %>
    </main>

    <%= render "shared/footer" %>
  </body>
</html>