<!DOCTYPE html>
<html>
  <head>
    <%= render "shared/head" %>
  </head>

  <main class="container">
    <% flash.each do |key, value| %>
      <div class="flash-<%= key %>">
        <%= value %>
      </div>
    <% end %>
  </main>

  <body>
    <%= render "shared/navbar" %>

    <%= yield %>

    <%= render "shared/footer" %>
  </body>
</html>
